    body, html {
        margin: 0;
        padding: 0;
    }
    h1{
        margin: 0;
        padding: 0;
    }
    #card {
        width: 100vw;
        height: 100vh;
        font-family: Georgia, 'Times New Roman', Times, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: oldlace;
    }
    #meteo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bottom {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    #top {
        display: flex;
    }
    #localisation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
    .left, .right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 50%
    }
    #temp {
        margin: 0;
    }

    @media (orientation: portrait) {
    #card {
        font-size: 3vw;
        flex-direction: column;
    }
    #meteo {
        width: 100%;
        justify-content: space-between;
        order: 2;
    }
    #bottom {
        border-top: 0.2em white solid;
        width: 100%;
        flex-direction: row;
        order: 3;
    }
    #top {
        width: 100%;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-start;
        order: 1;
    }
    #left {
        border-right: 0.2em white solid;
    }
    #temp {
        font-size: 8vw;
    }
    img {
        width: 40vw;
    }
}

@media (orientation: landscape) {
    #card {
        font-size: 2vw;
        flex-direction: row;
    }
    #meteo {
        width: 50%;
        height: 90%;
        justify-content: center;
        border-right: solid white 0.2em;
        order: 1;
    }
    #bottom {
        width: 25%;
        flex-direction: column;
        order: 2;
    }
    #top {
        width: 25%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        order: 3;
    }
    #temp {
        font-size: 7vw;
    }
    img {
        width: 15vw;
    }
}